@inject IJSRuntime JSRuntime

@if (IsReady)
{
    <div class="chat-conversation">
        <div class="session-info">
            <div class="info-container left">
                <h4 class="chat-title">Gemini Nano Chat</h4>
            </div>

            <div class="info-container center">
                @if (ChatSession != null)
                {
                    <p class="stat-text">Tokens left: @ChatSession.TokensLeft</p>

                    <p class="stat-text">Tokens so far: @ChatSession.TokensSoFar</p>

                    <p class="stat-text">Max Tokens: @ChatSession.MaxTokens</p>
                }
            </div>

            <div class="info-container right">
            </div>
        </div>

        <div class="conversation-history">

            @foreach (var msg in ChatSession.Messages)
            {
                <div class="conversation-message-container">
                    <div class="conversation-message">
                        <div class="message-header">
                            <h6>@msg.Role</h6>
                        </div>

                        <div class="message-content">
                            <p>@msg.Content</p>
                        </div>
                    </div>
                </div>
            }

        </div>

        <div class="conversation-controls">
            <InputText class="text-input prompt-input" @bind-Value="inputMsg">

            </InputText>

            <button @onclick="PromptAsync">
                Send
            </button>
        </div>
    </div>
}
else
{
    <div class="chat-conversation no-chat">
        <h1 class="notice-header">No session created</h1>

        <p class="notice-text">
            Click "Create Session" or "New Chat" to create a new Gemini Nano chat session.
        </p>

        <button @onclick="CreateSession">
            Create Session
        </button>

        <!--<button onclick="testShow">
            Test
        </button>-->
    </div>
}

<!--
<MessageDialog ref="testDialog">
    <HeaderText>Test</HeaderText>

    <BodyText>


        /*for (int i = 0;  i < 10; i++)
        {
            <p>Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem IpsumLorem Ipsum Lorem IpsumLorem IpsumLorem IpsumLorem IpsumLorem Ipsum</p>
        }*/
    </BodyText>
</MessageDialog>
-->


<!-- code {
    private MessageDialog testDialog;

    private void testShow()
    {
        testDialog.Show();
    }
}-->