@inject IJSRuntime JSRuntime

@if (IsReady)
{
    <div class="chat-container">
        <div class="chat-conversation">
            <div class="session-info">
                <div class="info-container left">
                    <InputText class="text-input sleek" @bind-Value="inputName" @bind-Value:after="AfterNameChanged">

                    </InputText>
                </div>

                <div class="info-container center">
                    @if (ChatSession != null)
                    {
                        <p class="stat-text">Tokens left: @ChatSession.TokensLeft</p>

                        <p class="stat-text">Tokens so far: @ChatSession.TokensSoFar</p>

                        <p class="stat-text">Max Tokens: @ChatSession.MaxTokens</p>
                    }
                </div>

                <div class="info-container right">
                </div>
            </div>

            <div class="conversation-history">
                @if (Messages != null)
                {
                    @foreach (var msg in Messages)
                    {
                        <div class="conversation-message-container">
                            <div class="conversation-message">
                                <div class="message-header">
                                    <h6>@msg.Role</h6>
                                </div>

                                <div class="message-content">
                                    <p>@msg.Content</p>
                                </div>
                            </div>
                        </div>
                    }
                }


            </div>

            <div class="conversation-controls">
                <InputText class="text-input prompt-input" @bind-Value="inputMsg">

                </InputText>

                <button @onclick="PromptAsync">
                    Send
                </button>
            </div>

        </div>
    </div>
}
else
{
    <div class="chat-container no-chat">
        <div class="loading-bar">
            <div class="bar">
                <div class="bar-border top">

                </div>

                <div class="bar-border bottom">
                </div>

                <div class="bar-border left">

                </div>

                <div class="bar-border right">
                </div>
            </div>
        </div>
    </div>
}

@code {

}